.RestuarantList {
  grid-area: gallery;

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 8%;
  }
}

.RestaurantInfo {
  font-family: "Lobster", cursive;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 25px;
  margin-left: 1%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;

  padding: 0 3rem;

  min-width: 20rem;
  max-width: 30rem;
  max-height: 44rem;
  min-height: 50rem;
  position: relative;
  background-color: white;
  top: 3rem;
  bottom: 5rem;

  p {
    margin: 0;
  }

  &__img {
    display: block;
    width: 100%;
    height: 60%;
    margin-top: 2rem;
    object-fit: cover;
    filter: brightness(90%) grayscale(100%) contrast(130%);
    transition: filter 0.5s;

    &:hover {
      filter: brightness(100%) grayscale(0) contrast(100%);
    }
  }

  &__name {
    margin: 1rem 0;
    padding: 0;
  }

  &__para {
    margin-bottom: 2rem;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__rating {
    margin-top: 2rem;
  }

  &__reviewCount {
    margin-top: 1rem;
  }

  &__website {
    text-decoration: none;

    display: flex;

    text-align: center;

    margin-top: 2rem;
  }

  &__yelp {
    display: inline-block;
    width: 8rem;
    filter: brightness(90%) grayscale(100%) contrast(130%);
    transition: filter 0.5s;
    position: absolute;
    bottom: 0;
    right: 0;

    &:hover {
      filter: brightness(100%) grayscale(0) contrast(100%);
    }
  }
}

@media (min-width: 420px) {
  .restaurantinfo {
    width: 80%;
  }
  .RestuarantList {
    margin-left: 2rem;
  }
}
