.footer {
  grid-area: searchForm;
  padding: 2rem 0;
  width: 90%;
  background-color: grey;
  box-shadow: 0 40px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 2%;
  margin-left: 1rem;
  margin-right: 2rem;
}
