.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 4px;
  background: #525a4e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  margin-top: 1%;
  box-shadow: 0 30px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:focus {
  outline: none;
}

.button:hover, .button:active {
  background: #667061;
  border-color: #667061;
}

.button--inverse {
  background: rgb(156, 180, 157);
  color: #white;
}

.button--inverse:hover, .button--inverse:active {
  color: white;
  background: #667061;
}

.button--danger {
  background: #525a4e;
  border-color: #525a4e;
}

.button--danger:hover, .button--danger:active {
  background: #667061;
  border-color: #667061;
}

.button:disabled, .button:hover:disabled, .button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}