.searchForm {
  // grid-area: searchForm;
  padding: 2rem 0;
  width: 61%;
  background-color: grey;
  box-shadow: 0 40px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  padding: 2%;
  margin: 0 auto;

  form {
    // padding-right: 30%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  &__label {
  }

  &__input {
    border-radius: 10px;
    width: 40%;
    padding: 2rem;
    background-color: transparent;
    border: none;
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 90%;

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-family: "Montserrat Subrayada", sans-serif;
    }
  }

  &__button {
    border-radius: 15px;

    font-family: "lobster";
    font-size: 1rem;
    background-color: transparent;
    padding: 0.8rem 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    &:hover {
      transform: translateY(4px);
    }

    &:active {
      transform: translateY(0px);
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    font-size: 2rem;
    margin-left: 1rem;
  }
}
